body {
    background-color: #141414;
    color: white;
    font-family: Arial;
    text-align: center;
    margin: 0;
}

.marquee {
    background: #e50914;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: scroll 8s linear infinite;
}

@keyframes scroll {
    to { transform: translateX(-100%); }
}

.buttons {
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.box {
    width: 350px;
    margin: 30px auto;
    border: 2px solid red;
    padding: 20px;
}

.box img {
    width: 100%;
}